body {
	margin-top: 20px;
	background-color: #f1f1f1;
}

.resep-category {
	height: 70px;
	background-size: cover;
background-position: center center;
box-sizing: border-box;
}

.category-name {
	text-shadow: 1px 1px #000000
}

.bg-medium {
	background-color: #adb5bd !important;
}

a:link{
	text-decoration: none;
}

.bg {
	background-color: white;
}

.title_link {
	font-size: 14px;
	color: #82b440;
	text-decoration: none !important;
}

.carousell_link {
	color: #82b440;
	font-weight: bold;
	text-decoration: none !important;
}

.latest_article_text {
	font-size: 20px;
	color: #82b440;
	text-decoration: none !important;
}

.custom_font {
	font-family: 'Niconne', cursive;
	font-size: 2rem;
	text-align: center;
}

.custom_navbar {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 20px;
}

.search {
	margin: 0 10% 0 10%;
}

.index_content {
	margin-top: 30px;
}

* {box-sizing: border-box}

.mySlides {
	display: none;
	text-decoration: none;
	color:inherit;	
	}
	
img {
	vertical-align: middle;
	}

.text_desc {
	margin: 0;
	text-indent: 2rem;
	text-align: justify;
	}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* Position the "next button" to the right */
.next {
	right: 12%;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 12%;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
	background-color: #f1f1f1;
	color: black;
}

.produk{
	border:1px solid #f4f4f4;
	min-height: 250px;
	padding:0;
}

.slideshow-container {
	padding-top: 10px;
}

.produk:hover{
	border: 1px solid #cecece;
	background-color: #e3e3e3;
}

.side_produk{
	border: 1px solid #f4f4f4;
	padding-bottom: 0px;
	--bs-gutter-x: 0rem;
}

.normal{
    min-height:88px;
	width:90%; 
	display:block;
}

.sedikit_info {
	margin-left: 8px;
	margin-right: 8px;	
}


.fav_button {
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end
}
.like_menu {
	margin-top: 10px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	height: 100%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 2px 16px;
}

.accordion-button {
	background-color: #F5F5F5;
}

.text-desc {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	max-height: 100px;	
  }
  
.hyper_link {
	color: inherit;
    text-decoration: none;
}

.side_title {
	color: #82b440;
	text-decoration: none;
}

/* On hover, add a grey background color */

.comment_text {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}


.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    padding: 10px 20px 0px 10px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.search_card {
	border: 1px solid #eee;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px 5px 5px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.detail_card {
	border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 5px 10px 5px 5px;
	background: #fff;
	color: #000000;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}


.blog-comment h3,
.blog-comment-form h3{
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
.username_comments {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.user_comment {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
}

.search_item {
	border: 1px solid #f4f4f4;
	margin-top: 10px;
}

td.table_size {	
	vertical-align: top;
	text-align: left;
}

.table_size {
	width: 100px;
}

.profile_table {
	width: 150px;	
}

.tab_pad td {
	padding: 5px 0px 5px 0px;
}

.detail_img {
	min-height:88px;
	width:100%; 
	display:block;
	justify-content: center;
}

.like_form {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.cust_title {
	margin-top: 10px;
	font-size: 2rem;
}

input {
  display: block;
}

.cell_form {
	width: 20%;
}

.cell_input {
	width: 80%;
}

.table_input {
	width: 100%;
}

.form_bahan {
	text-align: center;
	margin-top: 10px;
}
.form_bahan_list {
	width: 100%;
	margin-bottom:5px;
}